# Godot 4+ specific ignores
.godot/
assets/World and level select/New York City background.jpg.import
assets/World and level select/Future New York City Background.png.import
assets/World and level select/Future New York City Background.png.import
assets/World and level select/grass to city background.jpg.import
assets/World and level select/Mellow node background.jpg.import
